<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients List</title>
  </head>
  <body>

    <h2>List of medical records</h2>
     
        {% for patient in patients %}
        
          <p>{{ patient.first_name }} {{ patient.last_name }} ({{ patient.gender }}), - {{ patient.city }} ({{ patient.country }})</p>
             
        {% endfor %}
   
  </body>
</html>
