<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients List</title>
  </head>
  <body>

    <h2>List of medical records</h2>
     
        {% for patient in patients %}
        
        {% if patient.male %}
                
           <p>{{ patient.first_name }} {{ patient.last_name}} (Male),{{ patient.age }} - {{ patient.city }} ({{ patient.country }})</p>
       
           {%else%}

           <p>{{ patient.first_name }} {{ patient.last_name }} (Female),{{ patient.age }} - {{ patient.city }} ({{ patient.country }})</p>
     
           {% endif %}
        {% endfor %}
        {% comment %} <input type="checkbox">Minors</input> {% endcomment %}
   
  </body>
</html>
